<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PracticeGame2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A696713E1F4CA6B300534E16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A69671521F4CA6B300534E16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A696715D1F4CA6B300534E16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
